<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEclinic"
        tools:targetApi="31">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.CommunicationOversightActivity"
            android:exported="false" />
        <activity
            android:name=".view.MedicalHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.AppointmentManagementActivity"
            android:exported="false" />
        <activity
            android:name=".view.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".view.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.PatientActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".util.ChatPreviewAdapter"
            android:exported="false" />
        <activity
            android:name=".view.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".view.DoctorScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".view.AnotherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.QuickAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".view.SpecializationOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.DoctorListActivity"
            android:exported="false" />
        <activity
            android:name=".view.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".view.SpecializationActivity"
            android:exported="false" />
        <activity
            android:name=".view.Registration"
            android:exported="false" />
        <activity
            android:name=".view.LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>